NEXT_PUBLIC_SUPABASE_URL=https://vlwjarfujykmkcvfvlep.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZsd2phcmZ1anlrbWtjdmZ2bGVwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYwMzgzMDIsImV4cCI6MjA4MTYxNDMwMn0.NgAueoAmsRhjtMei5Ixxx40a-1RvUYza_VbiJKFn_wQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZsd2phcmZ1anlrbWtjdmZ2bGVwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjAzODMwMiwiZXhwIjoyMDgxNjE0MzAyfQ.RqEDyFWybY-lb-Hj-ylLo2fiQG6_vZUMZKHcbat3ddw
